body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
}

.header {
  padding-top: 160px;
  padding-bottom: 473px;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
}

.my-recent-works {
  margin-bottom: 192px;
}
